.Rproj.user
.Rhistory
.RData
.Ruserdata

data/
figures/
writing/
CFSDB/

scripts/RSF_SSF_iSSA_resources/

scripts/archived
scripts/data_download_import
scripts/other_scripts
scripts/Ryan

scripts/fire/archived
scripts/fire/other fire sources attempt
scripts/fire/rgee and goes

