.Rproj.user
.Rhistory
.RData
.Ruserdata

data/
figures/

CFSDB/

scripts/archived

scripts/fire/archived
scripts/fire/other fire sources attempt
scripts/fire/rgee and goes

writing/msc_work/



mixedssa/
muff_2019/