.Rproj.user
.Rhistory
.RData
.Ruserdata


helicopter/

v1/data/
v1/figures/
v1/figures/distace_to_fire
v1/figures/hsf
v1/figures/map
v1/figures/matrix
v1/figures/outlie_checks
v1/figures/rsf
v1/figures/ssf
v1/figures/window_analysis

v1/scripts/archived
v1/scripts/fire
v1/scripts/ssf
v1/scripts/Stefano



data/goat/

figures/figures (old)/
figures/outlie_filtering/20251129/
figures/outlie_filtering/20251202/original/
figures/outlie_filtering/20251202/new/
figures/outlie_filtering/archived_pathway_plots/

scripts/functions/archived
scripts/stefano_mezzini/

writing/msc_work/





scripts/archived/
scripts/scripts (old)/


scripts/fire/archived/
scripts/fire/other fire sources attempt/
scripts/fire/rgee and goes/





